<html>
<head>
<title>LivePPT--by Fever</title>

<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>


<script>
$(document).ready(function(){
  $("button").click(function(){
    $.post("/login",
    {
      username:"lwj",
      password:"fever"
    },
    function(data,status){
      alert("数据：" + data + "\n状态：" + status);
    });
  });

  $.ajax({
    url:'/login',
    type:'post',
    data:{
      username: "2345678",
      password: "2345678",
    },
    success:function(res){
      console.log(res);
    },
    error:function(e){

    }
  })

  
});
</script>
</head>


<body>
Welcome!<br>
Here is the Fever/LivePPT test page.<br>
<br>
On Ubuntu 12.04 <br>
LiWeiJie <br>

<button>向页面发送 HTTP POST 请求，并获得返回的结果</button>

</body>
<form action="/register" method = "POST">
	<input type="text" name = "username"><br>
	<input type="password" name = "password"><br>
	<input type="submit">
</form>

</html>